
.icon-facebook-circled:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\e802'; } /* '' */
.icon-clock:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-right-thin:before { content: '\e805'; } /* '' */
.icon-github-circled:before { content: '\e807'; } /* '' */
.icon-instagram-1:before { content: '\f16d'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
